body{
    background-image: url('dark_wood.png');

}
p{
    color: white;
    font-family: "Arial";
}

h3{
    color: #FFBC00;
    font-size: 40px;
    font-family: "passion one";
    margin-bottom: 0px;
}
a{ color: white;
    font-weight:bold;
    font-size:24px;

}
#Header{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px black;
    border-style:double;
    text-align: center;
    background-color: #8e42d5;
    text-decoration: underline;
    text-shadow: 3px 3px rgb(80, 53, 2);
}
#Header h1{
    font-size: 60px;
    font-family:"Passion One";
    color:#FFBC00;
    font-weight: bold;
    word-spacing: 10px;

}
#LeftNav{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px white;
    border-style:double;
    float: left;
    text-align: center;
    padding-bottom: 8px;
    background-color: #8e42d5;
}

ul{
    list-style-type: none;
    padding-left: 0px;
}

#Content{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px white;
    border-style:double;
    text-align: center;
    padding: 15px;
    background-color: #8e42d5;
    line-height: 1.3;
}
#Footer{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px white;
    text-align: center;
    background-color: #8e42d5;
}